  <header role="banner">
   {# using zurb foundation to do the sticky work. #}
		<div data-sticky-container data-options="stickyOn: large">
			<div class="sticky" data-sticky data-top-anchor="1" data-options="stickTo:top; marginTop: 0;  stickyOn: large;" style="width:100%;">
			  	<div class="row">
				  	<div class="main-banner large-6 medium-4 small-12 columns">
				    {% if page.header %}
				       {{ page.header }}
				    {% endif %}
				    </div>
				    <div class="utility-links large-6 medium-8 small-12 columns">
				    		<div class="utility-wrapper">
						    	{% if page.utility_links %}
								  	{{ page.utility_links }}
										{% endif %}
							    <div class="search-toggle-wrap icon-search">
							    	<input class="search-btn" type="submit">
							    </div>
								</div>
						</div>
				  </div>
				  {{ page.primary_menu }}
 			</div>	   
	  </div>   
  </header>

