/**
	FOR drop down breadcrumbs
**/
@include breakpoint(small only) {
	ul.crumb-down .mobile-toggle{
		width: 50px;
		height: 39px;
		&::before {
			right: 11px;
			top: 0px;
		}
		&:hover {
		background-color: darken($light-grey, 5%);
		}
	}
}

ul.crumb-down {
	margin-top: 5px;
	float: left;
	margin-bottom: 10px;
	background-color: $light-grey;
	border-bottom: 1px solid darken($light-grey,20%);
	@include rounded(3px);
	> li {
		width: 100%;
		max-width: 600px;
		display: block;
		position: relative;
		float: left;
		margin-bottom: 1px;
		border-bottom: 1px solid $white;
		&:last-child {
			border-right: none;
		}
	}
	> li > a {
			font-size: 1.1rem;
			padding: .7rem .7rem;
			display: block;
			line-height: 1.1rem;
			&.is-active {
				font-weight: bold;
				color: $font-color;
			}
	}
	> li.drop-down > .mobile-toggle,
	> li.drop-down > .crumb-toggle {
		content: "\f13a";
    color: $orange;
    top: 0px;
    right: 0px;
  }
	> li.drop-down > .crumb-toggle {
		display: none;
	}
	> li.drop-down > a {
		padding-right: 2rem;
	}
		li.drop-down ul {
		position: relative;
		background-color: $light-grey;
		width: 100%;
		overflow: visible;
		float: left;
		display: block;
		margin: 0;
	 	@include transition(all .4s ease-out);
	 	@include transform(translate3d(0,0,0));
	 	transition-delay: 0s;
		@include menu-hide;
		&.menu-open {
			@include menu-visible;
			background-color: $grey;
			z-index: 99;
		}
		li {
			display: block;
			float: left;
			width: 100%;
			float: left;
			border-bottom: 2px solid $white;
			padding-left: 20px;
			&:last-child {
				border-bottom: none;
			}
			a {
				padding: .4rem .5rem;
				color: $blue;
				width: 100%;
				display: block;
			}
			a:hover {
				color: $orange;
			}
			&.is-active a,
			a.is-active {
				font-weight: bold;
				color: $font-color;
			}
			span.arrow {
				float: left;
				width: 20px;
				content: "#";
			}
		}
	}
}





@include breakpoint(small only) {

.no-js {
	ul.crumb-down {
		li.drop-down ul {
 			@include menu-visible();
			background-color: $grey;
			max-width: none;
			&li:first-child {
				border-top: 2px solid white;
			}
		}
	}
}
	
}

@include breakpoint(medium) {
	ul.crumb-down {
		-webkit-backface-visibility: hidden;
		margin-top: 20px;
		z-index: 999;
		> li {
			width: auto;
			display: inline-block;
			border-bottom: none;
			border-left: none;
			border-right: 2px solid $orange;
		}
		> li > a {
		 	padding: .8rem 1.6rem;
		 	font-size: normal;
		}
		> li.drop-down > a {
			padding-right: 2.8rem;
		}
/*
		> li.drop-down > .sub-toggle {
	    top: 1px;
	    right: 10px;
	  }
*/
	  > li.drop-down > .mobile-toggle {
		  display:none;
	  }
		> li.drop-down > .crumb-toggle {
	    top: 3px;
	    right: 10px;
	    display:block;
	  }
	  > li.drop-down.open > .crumb-toggle::before,
		> li.drop-down[hover=on]:hover > .crumb-toggle::before {
			content: "\f139";
		}
		li.drop-down.open,
		li.drop-down:focus,
		li.drop-down[hover=on]:hover {
			ul {
				@include menu-visible;
 				@include transition(all .25s ease-in);
		 		@include transform(translate3d(0,0,0));
		 		transition-delay: 0s;
				max-width: none; 
				z-index: 99;
			}
		}
		li.drop-down ul {
			@include box-shadow(2px, 2px, 2px, 0px, rgba(0,0,0,.3) );
			position: absolute;
			left: 0;
			top: 100%;
			width: 100%;
			margin-left: 0px;
			width: 400px;
			max-width: 0px;
			overflow: visible;
			@include box-shadow(2px, 2px, 2px, 0px, rgba(0,0,0,.3) );
   		@include menu-slide-in;
			@include menu-hide;
			li {
				padding-left: 0;
				a {
					border-right: 3px solid transparent !important;
				}
			  a:hover {
					border-right: 3px solid $orange;
				}
			}
		}
	}
}
