/* globals */

// ags colors
$yellow: #fdbb30;
$bright-green: #82bc00;
$teal-green: #006272;
$red: #d70036;

$green: #78BE20;
$white: #FFFFFF;
$grey: #CECECE;
$light-grey: #F5F5F5;
$mid-grey: darken($light-grey, 5%);
$shadow-color: #CECECE;



// hia colors

$purple: rgb(83,47,92);
$purple-mid: rgb(213,198,213);
$purple-light: rgb(235,226,238);

// AGS Blues
//$blue:rgb(0,55,100);
//$blue-light: rgb(222,225,235);
//$blue-mid: rgb(180,195,217);
//$blue-slide: #b7c7ea;

// ADGAP blues
//#0073CE // ADGAP blue
$blue:rgb(1,113,206);
$blue:rgb(8,113,186);
$blue-light: rgb(222,237,249);
$blue-mid: rgb(127,183,230);

$teal: rgb(0,96,114); // ADGAP Teal
$teal-light: rgb(229,239,241);
$teal-mid: rgb(77,144,157);

$orange: rgb(211,94,19);
$orange-mid: rgb(238,195,167);
$orange-light: rgb(250,239,231);

$back-color: $white;

$menu-background: $teal;
$menu-drop-back: $light-grey;

$menu-color: $white;
$menu-hover-color: $orange;
$menu-hover-background: $menu-drop-back;


$pop-color: $orange;

$font-color: #222222;
$main-color: $teal;
$accent-color: $teal;

$button-radius: 7px;

$text-width-large: 100%;
$text-width-medium: 100%;

$menu-height: 50px;