@media print {
	#block-printbutton,
	#block-footerhoncode--2,
	.fm-col-2,
	.fm-col-3,
	aside .sidebar,
	.views-exposed-form,
	footer,
	.footer-top,
	.utility-links,
	.region-primary-menu,
	.region-breadcrumb,
	#block-addtoanybuttons {
		display: none;
	}

	header[role="banner"] {
		height: auto !important;
		float: left;
	}
	.ac-content {
		display: block !important;
		max-height: none !important;
	}
	.main-banner,
	#block-adgap-branding {
		width: 100% !important;
		float: left;
		height: auto;
	}
	.adgap-form ul,
	#block-adgap-content ul,
	.ac-content ul,
	ul.square-bullet-list {
		list-style-type: square !important;
		li::before {
			background-color: transparent;
		}
	}
	ul.links-list {
		list-style-type: none !important;
	}
	.sticky {
		position: relative !important;
	}

}