{#
/**
 * @file
 * Theme override to display items in the site logos grid
 *
*/
#} 
  	  <a{{attributes.addClass("site-link")}} href="{{ content.field_site_link[0]['#url'] }}" target="_blank">
  	  	{{content.field_site_logo}}
  	  </a>
